
                <h4>Dr.{{doctor.name}}</h4>
                <h5>Address:{{ doctor.address}}</h5>
                <h6>{{doctor.speciality}}</h6>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quas assumenda ab? Ad numquam
                totam sint, cum tempora dolorem reprehenderit animi fugiat tempore modi aspernatur, debitis nostrum
                laudantium rem quia esse! Accusamus vel sapiente ducimus iure ipsum quis pariatur quasi debitis
                voluptate excepturi accusantium distinctio, sed alias, nostrum incidunt quibusdam fugiat nobis dolorum
                minus sit consequuntur autem, natus rem recusandae. Et eos veritatis reprehenderit, tempore suscipit
                repellat aut quia voluptates libero illo laudantium cum voluptate voluptas dolorum in sint omnis. Amet,
                autem. Dicta ea sed, totam cupiditate laborum, consequatur et tempora modi iure libero vitae voluptates
                quam velit necessitatibus voluptate.
                <form action="">

                <input type="hidden" value="{doctor.id}" name="doctor">
                <input type="text" name="name" required>
                <input type="email" name="email" required>
                <input type="number" name="phone" required>
                
                </form>